# Warm up

In [1]:
# shift+tab : 기능을 알려줌

In [2]:
import pandas as pd

In [3]:
data_url='https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data=pd.read_csv(data_url,sep='\s+',header=None)

In [4]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
df_data.columns=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
import numpy as np

In [7]:
weight_vector=np.array([[1],[1],[1]])
x_vector=np.array([[3],[4],[5]])
weight_vector
x_vector

array([[3],
       [4],
       [5]])

In [8]:
weight_vector.T.dot(x_vector)

array([[12]])

In [9]:
df_data['weight_0']=1 # 상수항이기 때문
df_data=df_data.drop('MEDV', axis=1) # 'MEDV'가 y값이기 떄문
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [10]:
df_data=df_data.values

In [11]:
df_data.shape

(506, 14)

In [12]:
weight_vector=np.random.random_sample((14,1))

In [13]:
df_matrix=df_data.dot(weight_vector)

In [14]:
df_matrix.shape

(506, 1)

# Linear Algebra

In [15]:
#vector를 파이썬으로 표시하는 다양한 방법 존재
vector_a=[1,2,10] # List
vector_b=(1,2,10) # Tuple
vector_c={'x':1,'y':2,'z':10}

print(vector_a,vector_b,vector_c)

[1, 2, 10] (1, 2, 10) {'x': 1, 'y': 2, 'z': 10}

In [16]:
u=[2,2]
v=[2,3]
z=[3,5]

result_zip=[t for t in zip(u,v,z)]
result=[sum(t) for t in zip(u,v,z)]
print(result_zip, result)

[(2, 2, 3), (2, 3, 5)] [7, 10]

In [17]:
u=[1,2,3]
v=[4,4,4]
alpha=2

result=[alpha*sum(t) for t in zip(u,v)]
print(result)

[10, 12, 14]

In [18]:
matrix_a=[[3,6],[4,5]] # matrix연산
matrix_b=[(3,6),(4,5)]
matrix_c={(0,0):3,(0,1):6,(1,0):4,(1,1):5}

result=[[sum(row) for row in zip (*t)] for t in zip(matrix_a,matrix_b)]
print(result)

[[6, 12], [8, 10]]

In [19]:
matrix_a=[[3,6],[4,5]] #matrix에 scalar 곱해주기
alpha=4
 
result=[[alpha*element for element in t] for t in matrix_a]
print(result)

[[12, 24], [16, 20]]

In [20]:
matrix_a=[[1,2,3],[4,5,6]] # Transpose의미
result=[[element for element in t] for t in zip(*matrix_a)]
print(result)

[[1, 4], [2, 5], [3, 6]]

In [21]:
matrix_a=[[1,1,2],[2,1,1,]]
matrix_b=[[1,1],[2,1],[1,3]]

result=[[sum(a*b for a, b in zip(row_a, column_b))
        for column_b in zip(*matrix_b)] for row_a in matrix_a]
print(result)

[[5, 8], [5, 6]]

In [22]:
def vector_addition(*args):
    return [t for t in zip(*args)]

vector_addition([1,2],[2,3],[3,4])

[(1, 2, 3), (2, 3, 4)]

# Numpy

In [60]:
import numpy as np
#numpy가 python list보다 속도는 월등히 빠름

In [61]:
test_array=np.array(["1","4",5,8],float)
test_array=np.array(["1","4",5,8],np.str)
test_array=np.array(["1","4",5,8],np.float16)

test_array

array([1., 4., 5., 8.], dtype=float16)

In [62]:
type(test_array)
type(test_array[3])

numpy.float16

In [63]:
test_array.dtype
test_array.shape # array가 1차원이고 4개의 벡터를 가짐을 의미
# 2차원이면 (4, 2), 3차원이면 (4,3,3) 2차원은 matrix, 3차원 이상은 tensor라고 부름
# shape이 (4,3,5)면 뒤에부터 5개의 element를 가진 3개의 vector가 4개 있음

(4,)

In [64]:
tensor=[[[1,2,5,8],[1,2,5,8],[1,2,5,8]],
       [[1,2,5,8],[1,2,5,8],[1,2,5,8]],
       [[1,2,5,8],[1,2,5,8],[1,2,5,8]],
       [[1,2,5,8],[1,2,5,8],[1,2,5,8]]]

In [65]:
np.array(tensor, int)

array([[[1, 2, 5, 8],
        [1, 2, 5, 8],
        [1, 2, 5, 8]],

       [[1, 2, 5, 8],
        [1, 2, 5, 8],
        [1, 2, 5, 8]],

       [[1, 2, 5, 8],
        [1, 2, 5, 8],
        [1, 2, 5, 8]],

       [[1, 2, 5, 8],
        [1, 2, 5, 8],
        [1, 2, 5, 8]]])

In [66]:
np.array(tensor, int).shape

(4, 3, 4)

In [67]:
np.array(tensor, int).ndim

3

In [68]:
np.array(tensor, int).size

48

## Array dtype

In [69]:
np.array([[1,2,3],[4.5,5,6]],dtype=int)

array([[1, 2, 3],
       [4, 5, 6]])

In [70]:
np.array([[1,2,3],[4.5,"5","6"]],dtype=np.float32).nbytes
# 4byte를 6개 쓰기 때문
np.array([[1,2,3],[4.5,"5","6"]],dtype=np.int8).nbytes
# 1byte를 6개 쓰기 때문

6

In [71]:
# reshape: shape의 크기를 변경함
test_matrix=[[1,2,3,4],[1,2,5,8]]
np.array(test_matrix).shape
np.array(test_matrix).shape

(2, 4)

In [72]:
np.array(test_matrix).reshape(8,)

array([1, 2, 3, 4, 1, 2, 5, 8])

In [73]:
np.array(test_matrix).reshape(-1,2).shape
# -1은 row의 갯수는 상관 없다는 뜻, column과 size를 통해 row를 설정

(4, 2)

In [74]:
np.array(test_matrix).reshape(2,2,2)

array([[[1, 2],
        [3, 4]],

       [[1, 2],
        [5, 8]]])

In [75]:
np.array(test_matrix).reshape(2,2,2).shape

(2, 2, 2)

In [76]:
# flatten 다차원 array를 1차원으로 변환
test_matrix=[[[1,2,3,4],[1,2,5,7]],[[1,2,3,4,],[1,2,5,8]]]
np.array(test_matrix).flatten()

array([1, 2, 3, 4, 1, 2, 5, 7, 1, 2, 3, 4, 1, 2, 5, 8])

## indexing slicing

In [77]:
a=np.array([[1,2,3],[4.5,5,6]],int)
print(a)
print(a[0,0])
print(a[0][0])

a[0,0]=12
print(a)
a[0][0]=5
print(a)

[[1 2 3]
 [4 5 6]]
1
1
[[12  2  3]
 [ 4  5  6]]
[[5 2 3]
 [4 5 6]]

In [78]:
a=np.array([[1,2,3,4,5],[6,7,8,9,10]],int)
a[:,2:]
a[1,1:3]
a[1:3]

array([[ 6,  7,  8,  9, 10]])

In [79]:
test_matrix=[[1,2,3,4],[1,2,5,7],[1,2,3,4,],[1,2,5,8]]
test_example=np.array(test_matrix,int)

In [80]:
test_example[:3,1:3]

array([[2, 3],
       [2, 5],
       [2, 3]])

In [81]:
test_example[:,1:3]

array([[2, 3],
       [2, 5],
       [2, 3],
       [2, 5]])

In [82]:
test_example[:,::2] # a:b:c a처음, b끝, c스텝

array([[1, 3],
       [1, 5],
       [1, 3],
       [1, 5]])

## arange

In [83]:
np.arange(30)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [84]:
# list는 integer type만 됨
np.arange(0,5,0.5)
np.arange(0,5,0.5).tolist() # 종종 유용하게 쓰일 것

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [85]:
np.arange(30).reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [86]:
np.zeros(shape=(10,),dtype=np.int8)
np.ones((2,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [87]:
np.empty(shape=(10,),dtype=np.int8)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [88]:
np.empty((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [89]:
test_matrix=np.arange(30).reshape(5,2,3)
np.zeros_like(test_matrix)

array([[[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]]])

In [90]:
np.identity(n=3,dtype=np.int8)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int8)

In [91]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [92]:
np.eye(N=3,M=5,dtype=np.int8)
np.eye(3)
np.eye(3,5,k=2) # k는 starting poiint를 변화시켜주는 것

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [93]:
matrix=np.arange(9).reshape(3,3)
np.diag(matrix)
# 대각행렬의 값을 추출함

array([0, 4, 8])

In [94]:
np.diag(matrix,k=1)

array([1, 5])

In [95]:
np.random.uniform(0,1,10).reshape(2,5) # 균등분포

array([[0.75649151, 0.47441218, 0.13678625, 0.64478969, 0.08791297],
       [0.0853434 , 0.2089181 , 0.34961015, 0.03188353, 0.38045686]])

In [96]:
np.random.normal(0,1,10).reshape(2,5) # 평균이 0 표준편차가 1인 정규분포

array([[ 0.63567847, -0.70392055, -0.35738153, -0.74634965,  0.98989566],
       [-0.00782316, -1.28398001, -0.33127464,  0.30015815, -0.11693829]])

## Sum

In [97]:
test_array=np.arange(1,11)
test_array.sum(dtype=np.float)

55.0

In [103]:
test_array=np.arange(1,13).reshape(3,4)
test_array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
test_array.sum(axis=1), test_array.sum(axis=0) # 축의 모양에 따라 합쳐짐
# 새로운 축일수록 axis=0임, 그러니 3차원이라면 vector가 axis=2가 됨

(array([10, 26, 42]), array([15, 18, 21, 24]))

In [106]:
third_order_tensor=np.array([test_array, test_array, test_array])
third_order_tensor
third_order_tensor.sum(axis=0)

array([[ 3,  6,  9, 12],
       [15, 18, 21, 24],
       [27, 30, 33, 36]])

In [107]:
third_order_tensor.sum(axis=2)

array([[10, 26, 42],
       [10, 26, 42],
       [10, 26, 42]])

In [108]:
test_array.mean(), test_array.mean(axis=0)

(6.5, array([5., 6., 7., 8.]))

In [111]:
test_array.std(), test_array.std(axis=0)

(3.452052529534663, array([3.26598632, 3.26598632, 3.26598632, 3.26598632]))

In [113]:
np.exp(test_array)
np.sqrt(test_array)

array([[1.        , 1.41421356, 1.73205081, 2.        ],
       [2.23606798, 2.44948974, 2.64575131, 2.82842712],
       [3.        , 3.16227766, 3.31662479, 3.46410162]])

In [114]:
# vstack : vertical stack 수직적으로 합침
a=np.array([1,2,3])
b=np.array([2,3,4])
np.vstack((a,b))

array([[1, 2, 3],
       [2, 3, 4]])

In [116]:
# hstack : 수평적 합침
a=np.array([[1],[2],[3]])
b=np.array([[4],[5],[6]])
np.hstack((a,b))

array([[1, 4],
       [2, 5],
       [3, 6]])

In [118]:
# 이걸 한번에 쓰고 싶다 concatenate
a=np.array([[1,2,3]])
b=np.array([[2,3,4]])
np.concatenate((a,b),axis=0)

array([[1, 2, 3],
       [2, 3, 4]])

In [119]:
a=np.array([[1,2],[3,4]])
b=np.array([[5,6]])
np.concatenate((a,b.T),axis=1)

array([[1, 2, 5],
       [3, 4, 6]])

In [120]:
test_a=np.array([[1,2,3],[4,5,6]], float)
test_a+test_a

array([[ 2.,  4.,  6.],
       [ 8., 10., 12.]])

In [121]:
test_a-test_a

array([[0., 0., 0.],
       [0., 0., 0.]])

In [123]:
# Element-wise operation
test_a*test_a

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [126]:
test_a=np.arange(1,7).reshape(2,3)
test_b=np.arange(7,13).reshape(3,2)
test_a.dot(test_b)

array([[ 58,  64],
       [139, 154]])

## Broadcasting

In [127]:
test_matrix=np.array([[1,2,3],[4,5,6]],float)
scalar=3

array([[4., 5., 6.],
       [7., 8., 9.]])

In [128]:
test_matrix+scalar

array([[4., 5., 6.],
       [7., 8., 9.]])

In [129]:
test_matrix-scalar

array([[-2., -1.,  0.],
       [ 1.,  2.,  3.]])

In [130]:
test_matrix*scalar

array([[ 3.,  6.,  9.],
       [12., 15., 18.]])

In [131]:
test_matrix/scalar

array([[0.33333333, 0.66666667, 1.        ],
       [1.33333333, 1.66666667, 2.        ]])

In [134]:
test_matrix//scalar # 몫을 구해줌

array([[0., 0., 1.],
       [1., 1., 2.]])

In [135]:
test_matrix**scalar # 제곱

array([[  1.,   8.,  27.],
       [ 64., 125., 216.]])

In [136]:
test_matrix=np.arange(1,13).reshape(4,3)
test_vector=np.arange(10,40,10)
test_matrix+test_vector

array([[11, 22, 33],
       [14, 25, 36],
       [17, 28, 39],
       [20, 31, 42]])

In [140]:
def scalar_vector_product(scalar, vector):
    result=[]
    for value in vector:
        result.append(scalar*value)
    return result

iteration_max=100000

vector=list(range(iteration_max))
scalar=2

In [141]:
%timeit scalar_vector_product(scalar, vector) # for loop

11.9 ms ± 362 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [142]:
%timeit [scalar*value for value in range(iteration_max)] # list comprehension

11.8 ms ± 2.82 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [143]:
%timeit np.arange(iteration_max)*scalar # numpy을 이용한 성능

174 µs ± 12.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## All & Any - where

In [144]:
a=np.arange(10)

In [146]:
np.any(a>5), np.any(a<0) # any->하나라도 조건에 만족한다면 True

(True, False)

In [148]:
np.all(a>5), np.all(a<10) # all->모두가 조건에 만족한다면 True

(False, True)

In [149]:
test_a=np.array([1,3,0],float)
test_b=np.array([5,2,1],float)
test_a>test_b

array([False,  True, False])

In [150]:
test_a==test_b

array([False, False, False])

In [151]:
(test_a>test_b).any()

True

In [152]:
a=np.array([1,3,0],float)
np.logical_and(a>0,a<3) # 두 조건 다 만족시키는가 logical_and
# logical_not, logical_or이라는 함수도 있음. logical_not은 true, false를 바꾸는 것

array([ True, False, False])

In [163]:
#np.where(condition, True, False)
a=np.arange(10)
np.where(a>5)

(array([6, 7, 8, 9], dtype=int64),)

In [164]:
np.where(a>0,3,2)
#  조건이 맞으면 True의 값인 3, 틀리면 False의 값인 2를 출력

array([2, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [165]:
a=np.arange(5,15)
np.where(a>10) # 10보다 큰 a의 주소를 반환해줌

(array([6, 7, 8, 9], dtype=int64),)

In [160]:
a=np.array([1,np.NaN, np.Inf],float)
np.isnan(a) # Not a Number

array([False,  True, False])

In [161]:
np.isfinite(a)

array([ True, False, False])

## argmax & argmin
* array내 최대값 또는 최소값의 index를 반환함

In [166]:
a=np.array([1,2,4,5,8,78,23,3])
np.argmax(a),np.argmin(a)

(5, 0)

In [169]:
a=np.array([[1,2,4,7],[9,88,6,45],[9,76,3,4]])
np.argmax(a,axis=1), np.argmin(a,axis=0)

(array([3, 1, 1], dtype=int64), array([0, 0, 2, 2], dtype=int64))

## boolean & fancy index

In [171]:
test_array=np.array([1,4,0,2,3,8,9,7],float)
test_array>3

array([False,  True, False, False, False,  True,  True,  True])

In [173]:
test_array[test_array>3] # 조건이 true인 index의 element만 추출

array([4., 8., 9., 7.])

In [174]:
condition=test_array<3
test_array[condition]

array([1., 0., 2.])

In [176]:
A=np.array([[2,3,4],
           [4,6,3],
           [8,0,2]])
B=A<3
B
B.astype(np.int) # 조건을 int로 바꿀때 자주 쓰는 방법

array([[1, 0, 0],
       [0, 0, 0],
       [0, 1, 1]])

In [177]:
a=np.array([2,4,6,8],float)
b=np.array([0,0,1,3,2,1],int) # fancy는 반드시 integer로 선언
a[b] # b배열의 값을 index로 하여 a값들을 추출

array([2., 2., 4., 8., 6., 4.])

In [178]:
a.take(b) # blanket과 동일

array([2., 2., 4., 8., 6., 4.])

In [179]:
a=np.array([[1,4],[9,16]],float)
b=np.array([0,0,1,1,0],int)
c=np.array([0,1,1,1,1],int)
a[b,c]

array([ 1.,  4., 16., 16.,  4.])

## loadtxt & savetxt

In [181]:
#a=np.loadtxt("./population.txt")
a[:10]

array([[ 1.,  4.],
       [ 9., 16.]])

In [183]:
a_int=a.astype(int) # float로 불러와지기 때문에 int로 바꿔줄 수 있음
np.savetxt('int_data.csv',a_int,fmt='%d',delimiter=',')

In [184]:
np.save('npy_test.npy',arr=a_int)

In [185]:
npy_array=np.load(file='npy_test.npy')
npy_array

array([[ 1,  4],
       [ 9, 16]])